<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hello EJS</h1>

    <div>ID: <%= id %></div>
    <div>Name: <%= name %></div>

    <% if(admin) { %>
        <h2>Admin section</h2>
    <% } %>
</body>
</html>